Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
email_validator
twilio

# testing
Flask-Testing
blinker
coverage

# development
flake8
black
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
